<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" class="general-info form-material">
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Config. Empresa'">

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button type="reset" class="btn btn-danger btn-sm mr-1" (click)="cancel()">
                <i class="icofont icofont-reply"></i>
                Cancelar
              </button>
              <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.invalid">
                <i class="icofont icofont-save"></i>
                Guardar
              </button>
            </div>
            <!--<div class="pull-right">-->
            <!--<select style="width: 120px;" class="form-control form-control-primary" [(ngModel)]="selPageSize"-->
            <!--(change)="ngOnInit()">-->
            <!--<option *ngFor="let item of pageSize" [value]="item">{{ item }}</option>-->
            <!--</select>-->
            <!--</div>-->
          </div>

          <div class="clearfix"></div>

          <div class="col-md-12">

            <div class="md-tabs">
              <ngb-tabset>
                <ngb-tab>
                  <ng-template ngbTabTitle style="padding: 10px 0;">
                    <i class="icofont icofont-home"></i>
                    Información Básica
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-20">
                      <div class="row">
                        <div class="col-md-6">

                          <div class="form-group form-default">
                            <input type="text" [formControl]="form.controls['RUC']" class="form-control" maxlength="13"
                                   autocomplete="off">
                            <span class="form-bar"></span>
                            <label class="float-label">RUC</label>
                          </div>

                          <div class="form-group form-default">
                            <input type="text" [formControl]="form.controls['NombreComercial']" class="form-control"
                                   autocomplete="off">
                            <span class="form-bar"></span>
                            <label class="float-label">Nombre Comercial</label>
                          </div>

                          <div class="form-group form-primary">
                            <input type="text" [formControl]="form.controls['RazonSocial']" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Razón Social</label>
                          </div>

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary" [formControl]="form.controls['Estado']">
                              <option *ngFor="let item of tools.listEstados() "
                                      [value]="item.value">{{ item.label }}</option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Estado</label>
                          </div>


                        </div>
                        <div class="col-md-6">


                          <div class="form-group form-primary">
                            <input type="text" [formControl]="form.controls['Direccion']" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Dirección</label>
                          </div>

                          <div class="form-group form-primary">
                            <input type="text" [formControl]="form.controls['Telefono']" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Teléfono</label>
                          </div>

                          <div class="form-group form-primary">
                            <input type="text" [formControl]="form.controls['Celular']" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Celular</label>
                          </div>

                          <div class="form-group form-primary">
                            <input type="email" [formControl]="form.controls['Email']" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Email</label>
                          </div>


                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>

                <ngb-tab>
                  <ng-template ngbTabTitle style="padding: 10px 0;">
                    <i class="fa fa-building "></i>
                    Entidad
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-20">

                      <div class="row">

                        <div class="col-md-12">
                          <div class="pull-left">
                            <label style="margin-right: 5px; font-size: 1.45rem;"> Entidad</label>
                            <a class="icofont icofont-search" style="font-size: 1.45rem; cursor: pointer;" ngbTooltip="Buscar Entidad"
                               placement="right" (click)="loadmodal($event)"></a>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="general-info">
                            <div class="row">

                              <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                  <table class="table m-0 table-sm">
                                    <tbody>
                                    <tr>
                                      <th scope="row">Nombres</th>
                                      <td>{{ entidad?.Nombres }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Apellidos</th>
                                      <td>{{ entidad?.Apellidos }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Identificación</th>
                                      <td>{{ entidad?.Identificacion }}</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                              <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                  <table class="table table-sm">
                                    <tbody>
                                    <tr>
                                      <th scope="row">Dirección</th>
                                      <td>{{ entidad?.Direccion }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Teléfono - Celular</th>
                                      <td>{{ entidad?.Telefono }} - {{ entidad?.Celular }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Email</th>
                                      <td>{{ entidad?.Email }}</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </ng-template>
                </ngb-tab>

                <ngb-tab>
                  <ng-template ngbTabTitle style="padding: 10px 0;">
                    <i class="icofont icofont-cur-dollar"></i>Actividad Económica
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-20">
                      <div class="row">
                        <div class="col-md-6">

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary"
                                    [formControl]="form.controls['IDActEconomica']">
                              <option *ngFor="let item of lsActEconomica" [value]="item.ID">{{ item.Descripcion }}
                              </option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Act. Económica</label>
                          </div>

                        </div>
                        <div class="col-md-6">

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary"
                                    [formControl]="form.controls['IDTipoActEcon']">
                              <option *ngFor="let item of lsTipoActEcon" [value]="item.ID">{{ item.Descripcion }}
                              </option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Tipo Act. Económica</label>
                          </div>

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary"
                                    [formControl]="form.controls['IDClasificacion']">
                              <option *ngFor="let item of lsClasificacion" [value]="item.ID">{{ item.Descripcion }}
                              </option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Clasificación</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>

                <ngb-tab>
                  <ng-template ngbTabTitle style="padding: 10px 0;">
                    <i class="icofont icofont-location-pin "></i>
                    Localización
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-20">
                      <div class="row">
                        <div class="col-md-6">

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary"
                                    [formControl]="form.controls['IDProvincia']">
                              <option *ngFor="let item of lsProvincias"
                                      [value]="item.ID"> {{ item.Descripcion }}</option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Provincia</label>
                          </div>

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary" [formControl]="form.controls['IDCanton']">
                              <option *ngFor="let item of lsCanton" [value]="item.ID"> {{ item.Descripcion }}</option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Cantón</label>
                          </div>


                        </div>
                        <div class="col-md-6">

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary"
                                    [formControl]="form.controls['IDParroquia']">
                              <option *ngFor="let item of lsParroquia"
                                      [value]="item.ID"> {{ item.Descripcion }}</option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Parroquía</label>
                          </div>

                          <div class="form-group form-primary">
                            <select class="form-control form-control-primary" [formControl]="form.controls['IDSector']">
                              <option *ngFor="let item of lsSector" [value]="item.ID">{{ item.Descripcion }}
                              </option>
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Sector</label>
                          </div>

                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>




              </ngb-tabset>
            </div>

          </div>

        </div>


      </app-card>
    </div>
  </div>
</form>


<app-modal-basic #modalForm [hideFooter]="true" [dialogClass]="'modal-lg custom-lg'">

  <div class="app-modal-header">
    <h4 class="modal-title">Buscar Entidad</h4>
    <button type="button" class="close basic-close" (click)="modalForm.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <ng-template #container></ng-template>
  </div>


</app-modal-basic>
