<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Resultado de la Inspección'" [cardOptionBlock]="true">


      <div class="md-tabs">
        <ngb-tabset>
          <ngb-tab title="Formulario">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <p class="m-4">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer
                  adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis
                  dis.....</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Anexos">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">

                <div class="column has-text-centered">
                  <div class="img-row" *ngFor="let image of albums; let i=index">
                    <img class="img-frame" [src]="image.src" (click)="open(i)" height="250"/>
                  </div>
                </div>


              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

    </app-card>
  </div>
</div>
