<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Resultado de la Inspección'" [cardOptionBlock]="true">

      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <button class="btn btn-sm btn-danger m-r-15" (click)="goBack()">
              <i class="icofont icofont-reply f-35"></i>
              Regresar
            </button>
          </div>

          <div class="pull-right">
            <button class="btn btn-sm btn-dropbox m-r-15" (click)="downloadFormulario()">
              <i class="icofont icofont-download f-35"></i>
              Descargar Resultados
            </button>
            <button class="btn btn-sm btn-primary" (click)="sendMailFormulario()">
              <i class="icofont icofont-send-mail f-35"></i>
              Reenviar Resultados
            </button>
            <!--<i class="icofont icofont-download m-r-15 f-35 text-primary" ngbTooltip="Descargar Resultados" (click)="downloadFormulario()"></i>-->
            <!--<i class="icofont icofont-send-mail m-r-15 f-35 text-primary" ngbTooltip="Reenviar Resultados" (click)="sendMailFormulario()"></i>-->
          </div>
        </div>

      </div>

      <div class="md-tabs">
        <ngb-tabset>

          <ngb-tab title="Información Básica">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">

                <h5>Inspección</h5>
                <div class="row">
                  <div class="col-md-12">
                    <div class="general-info">
                      <div class="row">
                        <div class="col-lg-12 col-xl-6">
                          <div class="table-responsive">
                            <table class="table m-0 table-sm">
                              <tbody>
                              <tr>
                                <th scope="row">Fecha Inspección</th>
                                <td>{{ dataInspeccion?.FechaInspeccion }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Colaborador</th>
                                <td>{{ dataInspeccion?.colaborador.ApellidoPaterno + ' ' + dataInspeccion?.colaborador.NombrePrimero }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Fecha de Registro</th>
                                <td>{{ dataInspeccion?.created_at }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- end of table col-lg-6 -->
                        <div class="col-lg-12 col-xl-6">
                          <div class="table-responsive">
                            <table class="table table-sm">
                              <tbody>

                              <tr>
                                <th scope="row">Estado</th>
                                <td>{{ dataInspeccion?.Estado | status }}</td>
                              </tr>

                              <tr *ngIf="dataInspeccion?.FechaPlazo">
                                <th scope="row">Fecha Plazo</th>
                                <td>{{ dataInspeccion?.FechaPlazo}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Formulario</th>
                                <td>{{ dataInspeccion?.formulario.Descripcion }}</td>
                              </tr>
                              <!--<tr>-->
                              <!--<th scope="row">Observación</th>-->
                              <!--<td>{{ dataInspeccion?.Observacion }}</td>-->
                              <!--</tr>-->
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- end of table col-lg-6 -->
                      </div>
                      <!-- end of row -->
                    </div>
                  </div>
                </div>

                <h5>Empresa</h5>
                <div class="row">
                  <div class="col-md-12">
                    <div class="general-info">
                      <div class="row">
                        <div class="col-lg-12 col-xl-6">
                          <div class="table-responsive">
                            <table class="table m-0 table-sm">
                              <tbody>
                              <tr>
                                <th scope="row">Nombre Comercial</th>
                                <td>{{ dataInspeccion?.empresa.NombreComercial }}</td>
                              </tr>
                              <tr>
                                <th scope="row">RUC</th>
                                <td>{{ dataInspeccion?.empresa.RUC }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Act. Económica</th>
                                <td>{{ dataInspeccion?.empresa.acteconomica.Descripcion }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- end of table col-lg-6 -->
                        <div class="col-lg-12 col-xl-6">
                          <div class="table-responsive">
                            <table class="table table-sm">
                              <tbody>
                              <tr>
                                <th scope="row">Razón Social</th>
                                <td>{{ dataInspeccion?.empresa.RazonSocial }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Sector</th>
                                <td>{{ dataInspeccion?.empresa.sector.Descripcion }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Dirección</th>
                                <td style="text-align: justify;">{{ dataInspeccion?.empresa.Direccion }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- end of table col-lg-6 -->
                      </div>
                      <!-- end of row -->
                    </div>
                  </div>
                </div>

                <div *ngIf="dataInspeccion?.observacions.length > 0">
                  <h5 class="text-c-red">Disposición</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="basic-list">
                        <li *ngFor="let observacion of dataInspeccion.observacions">
                          <h6>{{ observacion.Observacion }}</h6>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Formulario">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">

                <div class="card" *ngFor="let seccion of seccions">
                  <div class="card-header">
                    <h5>{{ seccion.Descripcion }}</h5>

                  </div>
                  <div class="card-block">

                    <ul class="basic-list">
                      <!--style="display:flex; justify-content: space-between;"-->
                      <li *ngFor="let component of seccion.rcomponentes; let idxComp = index"
                          [ngSwitch]="true">

                        <span class="f-left f-w-100"
                              [ngClass]="component.Cumple? 'font-success': 'font-danger'">{{ component.Descripcion }}</span>

                        <div class="float-right"
                             *ngSwitchCase="component.IDTipoComp == '1' || component.IDTipoComp == '2' || component.IDTipoComp == '3'">
                          <span>{{ component.Result }}</span>
                        </div>

                        <div class="float-right" *ngSwitchCase="component.IDTipoComp == '4'">
                          <span>{{ (component.Result) ? 'Si' : 'No' }}</span>
                        </div>

                        <div *ngSwitchCase="component.IDTipoComp == '5'">
                          <!--<span>{{ (component.Result) | json }}</span>-->
                          <span class="clearfix">
                            <strong>Cantidad :</strong> {{ component.Result.Cantidad }}
                          </span>
                          <span class="clearfix">
                            <strong>Cumple:</strong> {{ component.Result.Cumple | status }}
                          </span>
                          <span *ngIf="component.Result.Cumple == 'N'" class="clearfix">
                            <strong>Adquirir:</strong> {{ component.Result.Adquirir }}
                          </span>
                          <span *ngIf="component.Result.Cumple == 'N'" class="clearfix">
                            <strong>Disposición:</strong> {{ component.Result.Dispocision }}
                          </span>

                        </div>

                        <div *ngSwitchCase="component.IDTipoComp == '6'">
                          <!--<span>{{ (component.Result) | json }}</span>-->
                          <div class="row">
                            <div class="col-md-4">
                              <span class="clearfix" *ngFor="let atributo of component.Result.Atributo">
                                <strong>{{ atributo.display }}:</strong> {{ atributo.value }}
                              </span>
                            </div>
                            <div class="col-md-6">
                              <span class="clearfix">
                                <strong>Cumple:</strong> {{ component.Result.Cumple | status }}
                              </span>
                              <span class="clearfix">
                                <strong>Operativos:</strong> {{ component.Result.Operativos }}
                              </span>
                              <span class="clearfix">
                                <strong>No Operativos:</strong> {{ component.Result.NoOperativos }}
                              </span>
                              <span *ngIf="component.Result.Cumple == 'N'" class="clearfix">
                                <strong>Disposición:</strong> {{ component.Result.Disposicion }}
                              </span>
                            </div>
                          </div>

                        </div>

                      </li>
                    </ul>

                  </div>
                </div>

              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Anexos">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">

                <div class="column has-text-centered">
                  <div class="img-row" *ngFor="let image of albums; let i=index">
                    <img class="img-frame" [src]="image.src" (click)="open(i)" height="250"/>
                  </div>
                </div>


              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

    </app-card>
  </div>
</div>
