<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Asignar'">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <span>{{ id }}</span>
            <!--<button class="btn btn-primary" (click)="edit()" >-->
              <!--<i class="icofont icofont-plus"></i>-->
              <!--Agregar-->
            <!--</button>-->
          </div>
          <!--<div class="pull-right">-->
            <!--<select style="width: 120px;" class="form-control form-control-primary" [(ngModel)]="selPageSize"-->
                    <!--(change)="ngOnInit()">-->
              <!--<option *ngFor="let item of pageSize" [value]="item">{{ item }}</option>-->
            <!--</select>-->
          <!--</div>-->
        </div>

      </div>
      <br>



    </app-card>


  </div>
</div>
