<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Tipo Empresa'">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <button class="btn btn-primary" (click)="edit()">
              <i class="icofont icofont-plus"></i>
              Agregar
            </button>
          </div>
          <div class="pull-right">
            <select style="width: 120px;" class="form-control form-control-primary" [(ngModel)]="selPageSize"
                    (change)="ngOnInit()">
              <option *ngFor="let item of pageSize" [value]="item">{{ item }}</option>
            </select>
          </div>
        </div>

      </div>
      <br>

      <ngx-datatable
        class="data-table"
        [rows]="paginate.data"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="paginate.total"
        [limit]="paginate.per_page"
        (page)='setPage($event)'>

        <ngx-datatable-column name="Nombre">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.Nombre }}
          </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="Estado">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.Estado | status }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Acciones">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="btn-group-icons">
              <i class="icofont icofont-edit m-r-15 f-20 text-primary" ngbTooltip="Editar"  (click)="edit(row)"></i>
              <i class="icofont icofont-trash m-r-15 f-20 text-danger" ngbTooltip="Eliminar"  (click)="delete(row)"></i>

            </div>
          </ng-template>
        </ngx-datatable-column>


      </ngx-datatable>

    </app-card>


  </div>
</div>
<app-modal-basic #modalForm [hideFooter]="true" [dialogClass]="'modal-lg'">

  <div class="app-modal-header">
    <h4 class="modal-title">{{ titleModal }} - Tipo Act. Economica</h4>
    <button type="button" class="close basic-close" (click)="modalForm.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <ng-template #container></ng-template>
  </div>

</app-modal-basic>

