<div class="page-body">

  <div class="row">
    <!-- page statustic card start -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-green">{{ InspeccionCountGroup.APR }}</h4>
              <h6 class="text-muted m-b-0">Aprobadas</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-bar-chart-2 f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-green">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="feather icon-trending-up text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-blue">{{ InspeccionCountGroup.PEN }}</h4>
              <h6 class="text-muted m-b-0">Pendientes</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-calendar f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-blue">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="feather icon-trending-down text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-red">{{ InspeccionCountGroup.REP }}</h4>
              <h6 class="text-muted m-b-0">Reprobadas</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-thumbs-down f-28"></i>

            </div>
          </div>
        </div>
        <div class="card-footer bg-c-red">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="feather icon-trending-down text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page statustic card end -->
  </div>

  <div class="row">

    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-block">
          <h3>{{ InspeccionTotal.Total }}</h3>
          <p class="text-muted">Total de Inspecciones</p>
          <div id="seo-anlytics1" style="height:50px"></div>
        </div>
      </div>
      <div class="card bg-c-blue text-white widget-visitor-card">
        <div class="card-block-small text-center">
          <h2>{{ InspeccionTotal.MesActual }}</h2>
          <h6>Inspecciones Mes Actual</h6>
          <i class="feather icon-file-text"></i>
        </div>
      </div>
      <div class="card bg-c-yellow text-white widget-visitor-card">
        <div class="card-block-small text-center">
          <h2>{{ InspeccionTotal.MesAnterior }}</h2>
          <h6>Inspecciones Mes Anterior</h6>
          <i class="feather icon-award"></i>
        </div>
      </div>
    </div>

    <!-- seo start -->
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-6">
              <h3>$16,756</h3>
              <h6 class="text-muted m-b-0">Visits<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
            </div>
            <div class="col-6">
              <div id="seo-chart1" style="height:50px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-6">
              <h3>49.54%</h3>
              <h6 class="text-muted m-b-0">Bounce Rate<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
            </div>
            <div class="col-6">
              <div id="seo-chart2" style="height:50px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-6">
              <h3>16,256</h3>
              <h6 class="text-muted m-b-0">Products<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
            </div>
            <div class="col-6">
              <div id="seo-chart3" style="height:50px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- seo end -->

  </div>

</div>
