<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Config Roles - Permiso'">
      <br>
      <form [formGroup]="form" (ngSubmit)="submit()" class="general-info form-material">

        <div class="row">

          <div class="col-md-3">
            <div class="form-group form-primary">
              <input type="text" [formControl]="form.controls['Descripcion']" class="form-control">
              <span class="form-bar"></span>
              <label class="float-label">Descripción</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group form-primary">
              <input type="text" [formControl]="form.controls['Observacion']" class="form-control">
              <span class="form-bar"></span>
              <label class="float-label">Observación</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group form-primary">
              <select class="form-control form-control-primary" [formControl]="form.controls['Estado']">
                <option *ngFor="let item of tools.listEstados() " [value]="item.value">{{ item.label }}</option>
              </select>
              <span class="form-bar"></span>
              <label class="float-label">Estado</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="pull-right">
              <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()">
                <i class="icofont icofont-reply"></i> Cancelar
              </button>
              <button type="submit" class="btn btn-sm btn-primary" [disabled]="form.invalid">
                <i class="icofont icofont-save"></i> Guardar
              </button>
            </div>
          </div>

        </div>

      </form>

      <div class="row">
        <div class="col-lg-12">
          <ngx-datatable
            class="data-table dt-chk scroll"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"

            [rows]="lsSubModulos"
            [columnMode]="'force'"
            [scrollbarV]="true"

            [rowIdentity]="getID"
            [selected]="selected"
            [selectionType]="'checkbox'"
            (select)='onSelect($event)'>

            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                  [resizeable]="false">
              <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value"
                           let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                  <label>
                    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                  </label>
                </div>

              </ng-template>
              <ng-template class="datatable-checkbox" ngx-datatable-cell-template
                           let-value="value"
                           let-isSelected="isSelected"
                           let-onCheckboxChangeFn="onCheckboxChangeFn">
                <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                  <label>
                    <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                  </label>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Modulos">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Estado">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.Estado | status }}
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>

    </app-card>
  </div>
</div>
