<form [formGroup]="form" (ngSubmit)="submit()"  class="general-info form-material">
  <div class="row">
    <div class="col-md-6">

      <div class="material-group">
        <div class="material-addone">
          <i class="icofont icofont-bank-alt"></i>
        </div>
        <div class="form-group form-primary">
          <input type="text" [formControl]="form.controls['Nombre']" class="form-control">
          <span class="form-bar"></span>
          <label class="float-label">Nombre</label>
        </div>
      </div>
      <div class="material-group">
        <div class="material-addone">
          <i class="icofont icofont-bank-alt"></i>
        </div>
        <div class="form-group form-primary">
          <input type="text" [formControl]="form.controls['Direccion']" class="form-control">
          <span class="form-bar"></span>
          <label class="float-label">Dirección</label>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="material-group">
        <div class="material-addone">
          <i class="icofont icofont-bank-alt"></i>
        </div>
        <div class="form-group form-primary">
          <input type="text" [formControl]="form.controls['Telefono']" class="form-control">
          <span class="form-bar"></span>
          <label class="float-label">Teléfono</label>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <!--(click)="modalForm.hide()"-->
        <button type="reset" class="btn btn-default btn-sm ripple m-r-10" (click)="modalBasic.close('Save click')" >Cancelar</button>
        <button type="submit" class="btn btn-primary btn-sm ripple light" [disabled]="form.invalid">Guardar</button>
      </div>
    </div>
  </div>
</form>
